@{
    ViewData["Title"] = "Home";
}

<h1 class="text-3xl font-bold mb-4">Welcome</h1>
<p class="text-lg">
    This is 
    <a href="https://www.linkedin.com/in/hern1k" class="text-purple-500 dark:text-purple-400 hover:underline font-medium"
        target="_blank" rel="noopener noreferrer">
        HERN1k's
    </a> personal assistant.
</p>