@using H1Assist.ViewComponents
@model ContentTextItemViewComponentProps

<div class="@Model.MarginBottom flex flex-row rounded-sm border border-slate-400 dark:border-slate-700
            overflow-hidden bg-neutral-100 dark:bg-neutral-900">
    @await Component.InvokeAsync("Button", new {
        text = "Copy",
        onclick = $"CopyToClipboard.fromElementById('{Model.ID}')",
        sizeClasses = "py-1 px-2",
        wrapperClasses = "flex flex-row items-center justify-center w-max h-full p-2 mt-auto mb-auto"
    })

    <div 
        class="flex items-center flex-row bg-slate-800 dark:bg-slate-200 py-2 px-4 w-full rounded-tl-sm rounded-bl-sm text-left 
               font-nunito whitespace-pre-wrap">
        <p><strong class="inline-block w-30 text-white dark:text-black">@Model.Headline</strong></p>
        <p id="@Model.ID" class="text-slate-200 dark:text-slate-800">@Model.Text</p>
    </div>
</div>